@charset "UTF-8";
/*VARIABLES*/
/*MIXINS*/
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/fondo.jpg); }

/*CORECCIÓN DEL BOOTSTRAP EN EL MENÚ*/
.bs {
  margin-bottom: 0rem;
  padding-left: 0rem; }

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-left: 0rem;
  background-image: linear-gradient(#161616, black);
  height: 60px; }
  ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: "lato", sans-serif; }
  ul li a:hover {
    color: red; }

.cdmenu {
  height: 40px; }

.centro {
  width: 50%;
  display: block;
  margin: auto; }

.oculto {
  display: none; }

main {
  background-image: url(../img/fondo2.png);
  border-bottom: red 3px solid; }
  main h2 {
    font-family: "lato", sans-serif;
    font-size: 40px; }
  main .integrantes {
    display: flex;
    margin: 10px 1% 0px 1%; }
    main .integrantes .perfil {
      padding: 30px; }
    main .integrantes p {
      font-size: 20px;
      line-height: 0,7; }
  main .seccion, main .spotify {
    color: black;
    font-size: 30px;
    font-family: "lato", sans-serif;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: 50px; }
  main .spotify {
    color: #777474;
    font-size: 15px;
    padding: 0; }
  main .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
    width: 100%; }
    main .contenedor h2 {
      font-size: 20px; }
    main .contenedor article {
      background-image: url(../img/fondo.jpg);
      border: red 2px solid;
      text-align: center;
      height: 500px;
      width: 420px;
      border-radius: 20px;
      max-width: 100%;
      height: auto;
      padding: 20px; }
      main .contenedor article img {
        width: 100%; }
      main .contenedor article h3 {
        font-size: 30px;
        color: white;
        padding: 10px; }
      main .contenedor article .ropa {
        border-radius: 20px; }
      main .contenedor article .tienda {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px; }
        main .contenedor article .tienda .precio {
          color: white;
          font-size: 25px; }
      main .contenedor article button {
        font-family: "lato", sans-serif;
        font-size: 15px;
        background-color: black;
        color: white;
        height: 50px;
        width: 100px;
        border: 2px solid red;
        border-radius: 20px; }
      main .contenedor article button:hover {
        background-color: red;
        border: 2px solid black;
        color: black; }
  main #formularioinfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
    main #formularioinfo .forminfo {
      background-image: url(../img/fondo.jpg);
      border: red 2px solid;
      text-align: center;
      height: 500px;
      width: 420px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      max-width: 400px; }
      main #formularioinfo .forminfo p {
        font-size: 15px;
        padding: 20px;
        justify-items: center; }
    main #formularioinfo #form-centro {
      background-image: url(../img/fondo.jpg);
      border: red 2px solid;
      text-align: center;
      height: 500px;
      width: 420px;
      border-radius: 20px;
      height: 650px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;
      align-items: center;
      margin-bottom: 50px; }
      main #formularioinfo #form-centro form {
        margin: 20px 0px 20px 0px;
        color: white; }

.centro1 {
  display: flex;
  align-items: center;
  justify-content: center; }

.album {
  width: 80%;
  margin: 50px 50px 50px 50px;
  animation-name: rotacion;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes rotacion {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*Galería GRID*/
.contenedorgrid {
  margin: 20px 100px 50px 100px; }

#galería {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas: "area1 area1 area2 area3" "area1 area1 area4 area4" "area5 area6 area4 area4" "area7 area7 area8 area8"; }

/*Galería responsive*/
#img1 {
  width: 100%;
  grid-area: area1; }

#img2 {
  width: 100%;
  grid-area: area2; }

#img3 {
  width: 100%;
  grid-area: area3; }

#img4 {
  width: 100%;
  grid-area: area4; }

#img5 {
  width: 100%;
  grid-area: area5; }

#img6 {
  width: 100%;
  grid-area: area6; }

#img7 {
  width: 100%;
  grid-area: area7; }

#img8 {
  width: 100%;
  grid-area: area8; }

footer {
  padding: 30px 20px 30px 20px;
  background-image: url(../img/fondo.jpg); }
  footer .contenedorfooter {
    display: flex;
    color: white;
    justify-content: space-evenly; }
    footer .contenedorfooter .redes {
      display: flex;
      align-items: center; }
      footer .contenedorfooter .redes a {
        text-decoration: none; }
        footer .contenedorfooter .redes a h4 {
          font-family: "lato", sans-serif;
          font-size: 20px;
          color: white; }
        footer .contenedorfooter .redes a h4:hover {
          color: red; }
    footer .contenedorfooter .social {
      width: 50px;
      padding-right: 15px; }
  footer h6 {
    font-family: "lato", sans-serif;
    font-size: 10px;
    opacity: 25%;
    margin-top: 20px;
    color: white;
    text-align: center; }

/*TABLETAS PEQUEÑAS Y CELULARES PEQUEÑOS*/
@media only screen and (max-width: 600px) {
  .centro {
    display: none; }
  .oculto {
    width: 70%;
    padding: 20px;
    display: block;
    margin: auto; }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 100%;
    background-image: linear-gradient(#161616, black); }
    ul li a {
      font-size: 20px;
      text-decoration: none;
      color: white;
      display: flex;
      font-family: "lato", sans-serif;
      padding-top: 10px;
      padding-bottom: 10px; }
    ul li a:hover {
      color: white;
      background-color: red; }
  .contenedorgrid {
    margin: 0; }
    .contenedorgrid #galería {
      display: flex;
      flex-direction: column; }
      .contenedorgrid #galería #img7 {
        display: none; }
      .contenedorgrid #galería #img8 {
        display: none; }
  #carouselExampleControls {
    display: none; }
  .contenedor article {
    background-image: url(../img/fondo.jpg);
    border: red 2px solid;
    text-align: center;
    height: 500px;
    width: 420px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; }
  .centro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .contenedorfooter {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center; } }

/*TABLETAS GRANDES*/
@media only screen and (max-width: 922px) {
  .integrantes {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .integrantes img {
      width: 80%; }
    .integrantes .perfil {
      padding: 30px; }
    .integrantes p {
      font-size: 20px;
      line-height: 0,7; }
  .contenedorgrid {
    margin: 10; }
    .contenedorgrid #galería {
      display: flex;
      flex-direction: column; }
  .contenedor {
    align-items: center;
    flex-direction: column; }
    .contenedor article {
      margin-top: 15px; }
  .centro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .album {
    width: 85%;
    animation-name: rotacion;
    animation-duration: 4s;
    animation-iteration-count: infinite; }
  #form-centro {
    margin-top: 20px; } }
