/*VARIABLES*/
$fondo1: url(../img/fondo.jpg);
$fondo2: url(../img/fondo2.png);
$color1: red;
$color2: white;
$sanserif: "lato", sans-serif;
/*MIXINS*/
@mixin box(){
    background-image: url(../img/fondo.jpg);
    border: red 2px solid;
    text-align: center;
    height: 500px;
    width: 420px;
    border-radius: 20px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: $fondo1;
}
/*CORECCIÓN DEL BOOTSTRAP EN EL MENÚ*/
.bs{
    margin-bottom: 0rem;
    padding-left: 0rem;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0rem;
    background-image: linear-gradient(rgb(22, 22, 22), black);
    height: 60px;
    li a{
        font-size: 20px;
        text-decoration: none;
        color: $color2;
        display: inline-block;
        font-family: $sanserif;
    }
    li a:hover{
        color:$color1;
    }
}

.cdmenu{
    height: 40px;
}
.centro{
    width: 50%;
    display: block;
    margin: auto;
}
.oculto{
    display:none;
}
main{
    background-image: $fondo2;
    border-bottom: $color1 3px solid;
    h2{
        font-family: $sanserif;
        font-size: 40px;
    }
    .integrantes{
        display: flex;
        margin: 10px 1% 0px 1%;
        .perfil{
            padding: 30px;
        }
        p{
            font-size: 20px;
            line-height: 0,7;
        }
    }
    .seccion{
        color: black;
        font-size: 30px;
        font-family: $sanserif;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 50px;
    }
    .spotify{
        @extend .seccion;
        color: rgb(119, 116, 116);
        font-size: 15px;
        padding: 0;
    }
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 30px;
        width: 100%;
        h2{
            font-size: 20px;
        }
        article{
            @include box;
            max-width: 100%;
            height: auto;
            padding: 20px;
            img{
                width: 100%;
            }
            h3{
                font-size: 30px;
                color: $color2;
                padding: 10px;
            }
            .ropa{
                border-radius: 20px;
            }
            .tienda{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                .precio{
                    color:$color2;
                    font-size: 25px;
                }
            }
            button{
                font-family: $sanserif;
                font-size: 15px;
                background-color: black;   
                color: $color2;
                height: 50px;
                width: 100px;
                border: 2px solid red;
                border-radius: 20px;
            }
            button:hover{
                background-color: $color1;
                border: 2px solid black;
                color: black;
            }
        }
    }
    #formularioinfo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        .forminfo{
            @include box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $color2;    
            max-width: 400px;
            p{
                font-size: 15px;
                padding: 20px;
                justify-items: center;

            }
        }
        #form-centro{
            @include box;
            height: 650px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: left;
            align-items: center;
            margin-bottom: 50px;
            form{
                margin: 20px 0px 20px 0px;
                color: $color2;;
            }
        }
        
    }
}
.centro1{
        display: flex;
        align-items: center;
        justify-content: center;
}
.album{
    width: 80%;
    margin: 50px 50px 50px 50px;
    animation-name: rotacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes rotacion{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*Galería GRID*/
.contenedorgrid{
    margin: 20px 100px 50px 100px;

}
#galería{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "area1 area1 area2 area3"
                         "area1 area1 area4 area4"
                         "area5 area6 area4 area4"
                         "area7 area7 area8 area8";
}
/*Galería responsive*/
#img1{
    width: 100%;
    grid-area: area1;
}
#img2{
    width: 100%;
    grid-area: area2;
}
#img3{
    width: 100%;
    grid-area: area3;
}
#img4{
    width: 100%;
    grid-area: area4;
}
#img5{
    width: 100%;
    grid-area: area5;
}
#img6{
    width: 100%;
    grid-area: area6;
}
#img7{
    width: 100%;
    grid-area: area7;
}
#img8{
    width: 100%;
    grid-area: area8;
}
footer{
    padding: 30px 20px 30px 20px;
    background-image: $fondo1;
    .contenedorfooter{
        display: flex;
        color: $color2;
        justify-content: space-evenly;
        .redes{
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                h4{
                    font-family: $sanserif;
                    font-size: 20px;
                    color: $color2;
                }
                h4:hover{
                    color: $color1;
                }
            }
        }
        .social{
            width: 50px;
            padding-right: 15px;
        }
    }
    h6{
        font-family: $sanserif;
        font-size: 10px;
        opacity: 25%;
        margin-top: 20px;
        color: $color2;
        text-align: center;
    }
}
/*TABLETAS PEQUEÑAS Y CELULARES PEQUEÑOS*/
@media only screen and (max-width:600px){
    .centro{
        display: none;
    }
    .oculto{
        width: 70%;
        padding: 20px;
        display: block;
        margin: auto;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        height: 100%;
        background-image: linear-gradient(rgb(22, 22, 22), black);
        li a{
            font-size: 20px;
            text-decoration: none;
            color: $color2;
            display: flex;
            font-family: $sanserif;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        li a:hover{
            color: $color2;
            background-color: $color1;
        }
    }
    .contenedorgrid{
        margin: 0;
        #galería{
            display: flex;
            flex-direction: column;
            #img7{
                display: none;
            }
            #img8{
                display: none;
            }
        }
    }
    #carouselExampleControls{
        display: none;
    }
    .contenedor{  
        article{
            @include box;
            box-sizing: border-box;          
            margin-bottom: 20px;
        }    
    }
    .contenedorfooter{
        display: flex;
        flex-direction: column;
        color: $color2;
        align-items: center;
    }
}
/*TABLETAS GRANDES*/
@media only screen and (max-width:922px){
    .integrantes{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 80%;
        }
        .perfil{
            padding: 30px;
        }
        p{
            font-size: 20px;
            line-height: 0,7;
        }
    }
    .contenedorgrid{
        margin: 10;
        #galería{
            display: flex;
            flex-direction: column;
        }
    }
    .contenedor{
        align-items: center;
        flex-direction: column;
        article{
            margin-top: 15px;
        }
    }
    .centro1{
        display: flex;
        flex-direction: column;
        a{
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .album{
        width: 85%;
        margin: 0px;
        animation-name: rotacion;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    #form-centro{
        margin-top: 20px;
    }
}